@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a;
    color: #e2e8f0;
}

@layer components {
    .btn {
        @apply bg-gradient-to-r from-cyan-500 to-blue-500 text-white font-bold py-3 px-8 rounded-full shadow-lg hover:translate-y-[-2px] hover:shadow-cyan-500/50 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
    }
}
