# AWS S3 Configuration (For secure download links)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=
S3_FILE_KEY=

# SMTP Configuration (For sending emails)
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SENDER_EMAIL=
SALES_EMAIL=sales@scmmax.com
BASE_URL=https://scmmax.com

# Database & Admin
DATABASE_URL=downloads.db
ADMIN_SECRET_KEY=change_this_secret
